@import '../../variables';
.page-contacts {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &__container {
    width: 100%;
    height: 100%;
  }
  .contact-us {
    font-family: $font;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    position: relative;
    text-align: center;
    padding: 60px 0;
  }
  .text-desc {
    height: 81%;
    display: flex;
    transition: all 0.2s;
    .map {
      flex: 1;
      iframe {
        height: 100%;
        width: 100%;
      }
    }
    .explanation {
      flex: 1;
      background-color: #1d1d1d;
      color: $white;
      display: flex;
      flex-direction: column;
      .top,
      .bottom {
        flex: 1 1;
        padding: 12.8%;
        transition: all 0.2s;
      }
      .top {
        font-size: 16px;
        font-weight: 700;
        font-family: Montserrat-ExtraLight, Noto Sans KR;
        display: flex;
        flex-direction: column;
      }
      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        .title {
          font-size: 12px;
          color: $white;
          font-weight: 100;
        }
        .text a {
          font-family: $font;
          color: $white;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1311px) {
  .page-contacts {
    .text-desc {
      .explanation {
        .top {
          padding-top: 18.8%;
          padding-left: 18.8%;
        }
        .bottom {
          padding-bottom: 18.8%;
          padding-right: 18.8%;
        }
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .page-contacts {
    .text-desc {
      flex-direction: column;
    }
  }
}
