$bg-nav:#cdcdcd;
$bg-lang-active:#199dfb;
$white:#fff;
$black:#000;

$color-text:#000;

$mobile-s:350px;
$mobile:415px;
$tablet: 768px;
$tablet-s: 600px;
$large: 1024px;
$desktop: 1400px;
$laptop:1660px;

$font :  "Montserrat", sans-serif;

